<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="WASSTD.Properties.Settings.WASSTDConnectionString" connectionString="Data Source=ACER\SQLEXPRESS;Initial Catalog=WASSTD;Integrated Security=False" providerName="System.Data.SqlClient" />
    <add name="WASSTD.Properties.Settings.WASSTDConnectionString1" connectionString="Data Source=ACER\SQLEXPRESS;Initial Catalog=WASSTD;Integrated Security=False" providerName="System.Data.SqlClient" />
    <add name="WASSTD.Properties.Settings.WASSTDConnectionString2" connectionString="Data Source=ACER\SQLEXPRESS;Initial Catalog=WASSTD;Integrated Security=False" providerName="System.Data.SqlClient" />
    <add name="WASSTDEntidades" connectionString="metadata=res://*/WASSTD.csdl|res://*/WASSTD.ssdl|res://*/WASSTD.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ACER\SQLEXPRESS;Initial Catalog=WASSTD;Integrated Security=False;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="WASSTD_AuditoriaContainer" connectionString="metadata=res://*/WASSTD_Auditoria.csdl|res://*/WASSTD_Auditoria.ssdl|res://*/WASSTD_Auditoria.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=ACER\SQLEXPRESS;Initial Catalog=WASSTD_Auditoria;Integrated Security=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>